<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="bw-runtime">
<locations>



<location path="/opt/tibco/bwce2.2/bwce/2.2/system/hotfix/lib/common" type="Directory"/>
<location path="/opt/tibco/bwce2.2/bwce/2.2/system/lib/common" type="Directory"/>

<location path="/opt/tibco/bwce2.2/bwce/2.2/system/hotfix/palettes" type="Directory"/>
<location path="/opt/tibco/bwce2.2/bwce/2.2/system/palettes" type="Directory"/>

<location path="/opt/tibco/bwce2.2/bwce/2.2/system/hotfix/shared" type="Directory"/>
<location path="/opt/tibco/bwce2.2/bwce/2.2/system/shared" type="Profile"/>
</locations>
</target>
